
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<style>
    .mapLink {
        text-decoration: underline;
    }

    .body {
        color: white;
    }

</style>

<script>

    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

      ga('create', 'UA-44942014-6', 'auto');
      ga('send', 'pageview');


    $(".videosLink").hover(function () {
        $(this).css({ 'text-decoration': 'underline' });
        $(".mapLink").css({ 'text-decoration': 'none' });
  }, function () {
        var cssObj = {
            'text-decoration': 'none'
        }
        $(this).css(cssObj);
        $(".mapLink").css({ 'text-decoration': 'underline' });
          });

    $(".thumbsUpLink").hover(function () {
        $(this).css({ 'text-decoration': 'underline' });
        $(".mapLink").css({ 'text-decoration': 'none' });
    }, function () {
        var cssObj = {
            'text-decoration': 'none'
        }
        $(this).css(cssObj);
        $(".mapLink").css({ 'text-decoration': 'underline' });
    });
</script>
<style>

</style>

<!-- Map -->
<div id="map" class="container py-3 text-xs-center w-100" style="background-color:#3ecde3;">
</div>

<br />
<div class="container mx-auto py-3 text-xs-center w-100" style="background-color:#F5F5F5;">

<div class="row mx-auto">
    <h1>Airlines Flown On</h1>
    <h5>Coming Soon..</h5>
    <br>
</div>

@*<div class="row mx-auto">

    <div class="col-lg-6 col-sm-6 col-xs-6">
        <h2>Domestic</h2>

        <h5>ABQ - Albuquerque, New Mexico</h5>
        <h5>ANC - Anchorage, Alaska</h5>
        <h5>ATL - Atlanta, Georgia</h5>
        <h5>AUS - Austin, Texas</h5>
        <h5>BOI - Boise, Idaho</h5>
        <h5>BUR - Burbank, California</h5>
        <h5>DEN - Denver, Colorado</h5>
        <h5>DFW - Dallas, Texas</h5>
        <h5>EWR - Newark, New Jersey</h5>
        <h5>GEG - Spokane, Washington</h5>
        <h5>HLN - Helena, Airport</h5>
        <h5>HNL - Honolulu, Hawaii</h5>
        <h5>KOA - Kona, Hawaii</h5>
        <h5>KTN - Ketchikan, Alaska</h5>
        <h5>IAH - Houston, Texas</h5>
        <h5>JFK - New York City, New York</h5>
        <h5>LAS - Las Vegas, Nevada</h5>
        <h5>LAX - Los Angeles, California</h5>
        <h5>OGG - Maui, Hawaii</h5>
        <h5>ORD - Chicago, Illinois</h5>
        <h5>PDX - Portland, Oregon</h5>
        <h5>RNO - Reno, Nevada</h5>
        <h5>SAN - San Diego, California</h5>
        <h5>SEA - Seattle, Washington</h5>
        <h5>SFO - San Francisco, California</h5>
        <h5>SLC - Salt Lake City, Utah</h5>
        <h5>SMF - Sacramento, California</h5>
        <h5>TUS - Tuscon, Arizona</h5>


    </div>
    <div class="col-lg-6 col-sm-3 col-xs-6">
        <h2>International</h2>

        <h5>AMS - Amsterdam, Netherlands</h5>
        <h5>FRA - Frankfurt, Germany</h5>
        <h5>GOT - Gothenburg, Sweden</h5>
        <h5>HKG - Hong Kong, China</h5>
        <h5>KEF - Keflavik, Iceland</h5>
        <h5>MEX - Mexico City, Mexico</h5>
        <h5>MUC - Munich, Germany</h5>
        <h5>SJD - Los Cabos, Mexico</h5>
        <h5>UIO - Quito, Ecuador</h5>
        <h5>YVR - Vancouver, Canada</h5>
    </div>

</div>*@

    </div>

<br>

<script src="~/Scripts/MapFeatures.js"></script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA56Qu314NuOrUVWmIOzRpt80MRcY7MH0U&callback=initMap"
        async defer></script>
