
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<style>
    .mapLink {
        text-decoration: underline;
    }

    .atpHeaderColor {
        background-color: #42cc55;
    }
    body {
        background-color:#EFEFEF;
    }


</style>

<script>
    $(".videosLink").hover(function () {
        $(this).css({ 'text-decoration': 'underline' });
        $(".mapLink").css({ 'text-decoration': 'none' });
  }, function () {
        var cssObj = {
            'text-decoration': 'none'
        }
        $(this).css(cssObj);
        $(".mapLink").css({ 'text-decoration': 'underline' });
    });
</script>
<style>

</style>

<!-- Map -->
<div id="map" class="container py-3 text-xs-center w-100" style="background-color:#3ecde3;">
</div>

<script src="~/Scripts/MapFeatures.js"></script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA56Qu314NuOrUVWmIOzRpt80MRcY7MH0U&callback=initMap"
        async defer></script>
